---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family:  sans-serif;
$base-font-size:    18px;
$base-line-height:  1.2;
$link-hover:        rgba(210, 23, 23, 0.7);
$spacing-unit:      1.2em;
$body-background:   #f2f2f2;

$block-background:  #e5ccff;
$title-color:       #3e0080;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "normalize",
        "layout",
        "syntax-highlighting"
;

a:hover {
    text-decoration: underline;
}
