---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family:  sans-serif;
$base-font-size:    18px;
$base-line-height:  1.2;
$link-hover:        rgba(210, 23, 23, 0.7);
$spacing-unit:      1.2em;

$background-body:   #f2f2f2;
$background-block:  #e5ccff;
$background-article: #f2e6ff;

$color-title:       #3e0080;
$color-light-text:  #999;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "normalize",
        "layout",
        "syntax-highlighting"
;

a:hover {
    text-decoration: underline;
}
