<aside class="main-header">
  <header class="module">
    <h1>
      <a href="{{ '/' | prepend: site.baseurl }}">{{ site.title }}</a>
    </h1>
  </header>
  <div class="module color2">
    {{ site.description }}
  </div>
  <nav class="module color4">
    <a href="{{ '/' | prepend: site.baseurl }}">Home</a>
    <a href="{{ '/about' | prepend: site.baseurl }}">About</a>
    <a href="{{ '/archives' | prepend: site.baseurl }}">Archives</a>
  </nav>
  <div class="module color3">
    <a href="https://twitter.com/jettek">Follow on Twitter →</a>
    <br/><a href="{{ "/feed.xml" | prepend: site.baseurl }}">Syndicate via RSS →</a>
    <br/>Contact: jkernion[at]gmail[dot]com
  </div>
</aside>
